PLEX_BASE_URL=
PLEX_TOKEN=

TAUTULLI_BASE_URL=
TAUTULLI_API_KEY=

PROMETHEUS_BASE_URL=

GRAFANA_BASE_URL=
GRAFANA_DASHBOARD_UID=
GRAFANA_DASHBOARD_SLUG=
GRAFANA_PUBLIC_DASHBOARD_URL=
GRAFANA_DEFAULT_RANGE=1h
GRAFANA_PANEL_IDS=
GRAFANA_PANELS_JSON=

OPENAI_API_KEY=

UPLOAD_LIMIT_MBPS=
UPLOAD_WARN_MBPS=
UPLOAD_PEAK_MBPS=

CPU_WARN_PERCENT=
RAM_WARN_PERCENT=
IOWAIT_WARN_PERCENT=

BURSTY_STDDEV_MBPS=
STABLE_STDDEV_MBPS=

HIGH_BITRATE_KBPS=
SAFE_NETWORK_KBPS=

BANDWIDTH_BELOW_BITRATE_RATIO=
NON_PLEX_UPLOAD_WARN_MBPS=
